In [2]:
import pandas as pd

In [3]:
data=[1,2,3,4,5]
series=pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# Create sereies from dictionary
mydict={"A":1,"B":2,"C":3}
series_dict=pd.Series(mydict)
series_dict

A    1
B    2
C    3
dtype: int64

In [5]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data=data,index=index)

a    10
b    20
c    30
dtype: int64

In [6]:
## Dataframe
data={
    "Name":["Mahesh","Ganesh","Suresh"],
    "Age":[23,24,25],
    "City":["Bengaluru","Mysore","Mandya"]
}
df=pd.DataFrame(data)
df

     Name  Age       City
0  Mahesh   23  Bengaluru
1  Ganesh   24     Mysore
2  Suresh   25     Mandya

In [7]:
## Create a dataframe from list of dictionaries
data=[
    {"Name":"Mahesh","Age":23,"City":"Bengaluru"},
    {"Name":"Ganesh","Age":24,"City":"Mysore"},
    {"Name":"Suresh","Age":25,"City":"Mandya"}
]
df=pd.DataFrame(data)
print(df)

     Name  Age       City
0  Mahesh   23  Bengaluru
1  Ganesh   24     Mysore
2  Suresh   25     Mandya

In [8]:
# Read data from CSV file
df=pd.read_csv("archive/Details.csv")
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [9]:
# Accessing data from dataframe
df.describe()

            Amount      Profit     Quantity
count  1500.000000  1500.00000  1500.000000
mean    291.847333    24.64200     3.743333
std     461.924620   168.55881     2.184942
min       4.000000 -1981.00000     1.000000
25%      47.750000   -12.00000     2.000000
50%     122.000000     8.00000     3.000000
75%     326.250000    38.00000     5.000000
max    5729.000000  1864.00000    14.000000

Data manipulation with DF

In [10]:
df['Salary']=[5000,60000,70000]

ValueError: Length of values (3) does not match length of index (1500)